
@font-face {
  font-family: "CanvaSans";
  src: url("../assets/canva-sans-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#root {
    --font-sans: "OpenSans";
}
.container {
    height: 100vh; /* this is the max height paramteres, so its expands vertically across the whole page */
    max-width: 1200px;
    margin: 0 auto; /* places it at the middle of the page with the max-width parameters */
    display: flex; /*  needed for aligning the items(content) inside the container*/
    flex-direction: column;
    padding: 40px;
    background-color: #25272eb3;
    box-sizing: border-box;
    overflow: hidden;

}
.content {
    color: white;
    flex: 1;          
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;     
    scroll-behavior: smooth;
    font: var(--font-sans);
}

.image_row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  position: relative;
}

.text_block {
  vertical-align: top;  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  font: var(--font-sans);
}
.text_block h2{
    margin: 0;
    padding: 0;
}
.body_row {
  display: flex;
  gap: 24px;
  min-height: 0;           
  flex: 1;   
  align-items: flex-start;            
}
.sidebar_box {
  width: fit-content;
  padding: 20px 24px;
  border: 1px solid rgba(255,255,255,0.25); 
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255,255,255,0.15);
  backdrop-filter: blur(6px); 
  background: rgba(0,0,0,0.15);
  align-self: flex-start;

}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.sidebar button{
    display: inline-block;
    background: transparent;
    border: 0;
    color: #fff;
    opacity: 50%;
    font: var(--font-sans);
    font-size: 1rem;
    text-align: left;
    padding: 2px 4px; 
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}

.sidebar button:hover {
    transform: scale(1.06);
    opacity: 100%;
}

.job-row {
  opacity: 0.5;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 30px;
  align-items: start; 
  margin-bottom: 20px;
  transition: opacity 0.3s ease;
  cursor: default;

}
.job-row:hover {
    opacity: 1;
}

.job-left {
  width: 300px;
  flex-shrink: 1;
}
.job-left a{
    color: white;
    font-size: 20;
    text-decoration: underline;
}
.job-left a:hover{
  cursor: pointer;
  text-shadow: 0 0 8px rgba(134, 189, 251, 0.6);
}

.job-right {
  flex: 1;
  align-self: center; 
  justify-content: center;
}

.description {
  margin: 0;              
  line-height: 1.4;
  font-size: 1rem;
  padding-bottom: 10px;
}

.job-skills {
  font-weight: bold;
  font-style: italic;
  margin: 0;
  line-height: 1.4;
  font-size: 1rem;
}


.job-title {
    margin: 0;
    line-height: 1.4;
    font-size: 1.4rem;
}
.job-dates {
    margin: 0;
    line-height: 1.4;
    font-size: 0.8rem;
}



.description {
  overflow-wrap: anywhere;
}


.scroll_panel {
  flex: 1;                
  height: 100%;            
  min-width: 0;           
  overflow-y: auto;        
  scroll-behavior: smooth;
  padding-right: 10px;  
  margin-top: 0;
  padding-top: 0; 
}

.page-section {
  padding-bottom: 50px;
  font-family: var(--font-sans);
  font-size: 1.4rem;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}